* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Establishes the background color of the entire page*/
body {
    background-color: #d9dcd6;
}
/* Establishes the amount of space around the text, font used, background color, and text color in the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}
/*Establishes the size and the layout for the text combination in h1 of the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Establishes the color change foe the "seo" in h1 of the header */
header h1 .seo {
    color: #d9dcd6;
}
/*Establishes the spacing, location, font, and font size of the nav inside the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
/* Establishes the layout for the text groups and the left margin of the text*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Establishes the color of the link and removes the underline from the text*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Establishes the font size for all paragraphs on the page*/
p {
    font-size: 16px;
}
/*Establishes the sizing for the image under the header,the image itself, the space under the image before new content, and ensure the image is centered and fitted to the screen*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Establishes where the image should be inside the box its asigned to*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Establishes where the image should be inside the box its asigned to*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Establishes that the blocks will take up 75% of the screen, how they will appear, on the distance away from the left side of the screen*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Establishes the location for the benefits box, its size, font used, and the background color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Establishes the margin and color in the benefit box*/
.benefit-type{
    margin-bottom: 32px;
    color: #ffffff;
}
/*Establishes the text size and location for the  h3 in benefit box*/
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Establishes the location, size, and spacing around the image in benefit box*/
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Establishes the size of the boxes, font type, font color, and background color*/
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

/*Establishes the size of maximum size for the picture in the content section*/
.content-section img {
    max-height: 200px;
}
/*Establishes the positiion and font size for the h2 element in the content section*/
.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Establishes the location, font, and alignmnent for the footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Establishes the font size for the h2 element inside the footer*/
footer h2 {
    font-size: 20px;
}
